<a href="https://colab.research.google.com/github/JulianaAiolfi/Estudando_Analise_de_dados-Python/blob/main/Notebook_Aulas/Aula01_21_03_2022ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Olá mundo!")

Olá mundo!

In [ ]:
a = 347
b = 2.71
c = '347'
d = 2+3j

In [ ]:
a, b, c, d = 347, 2.71, '347', 2+3j

In [ ]:
teste = True

In [ ]:
float(a)
int(b)
float(c)
str(d)

'(2+3j)'

In [ ]:
complexa = 347 + 2.71

In [ ]:
a = 2 + 2
print(a)

4

In [ ]:
a = 10 % 2
print(a)

0

In [ ]:
x = 3
y = 4.0
z = 12
t = 'banana'

In [ ]:
print(x+y)
print(z-y)
print(y**x)
print(x*z)
print(z/x)
print(y/x)
print(y%x)

7.0
8.0
64.0
36
4.0
1.3333333333333333
1.0

In [ ]:
print(x>y)
print(x*y==z)
print(t==y)
print(x>y and x<z)

False
True
False
False

In [ ]:
fruta1 = 'banana'
fruta2 = 'ABACATE'

In [ ]:
fruta2.lower()

'abacate'