<a href="https://colab.research.google.com/github/JulianaAiolfi/Estudando_Analise_de_dados-Python/blob/main/Notebook_Exerc%C3%ADcios/Aula01_Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Atividades

Crie uma variável com seu nome completo.
1.   Crie uma variável com seu nome completo.
2.   Escreva a variável em lowercase
3.   Escreva em uppercase
4.   Verifique se o nome começa com a letra P
5.   Verifique se o nome termina com a letra J
6.   Fatie a string para apenas o 1o nome

In [ ]:
nome = 'Juliana Aiolfi'

nome.lower()

nome.upper()

print( nome.startswith('p'))

print( nome.endswith('j'))

nome[:7]

False
False

'Juliana'

7. Fatie a string de 2 em 2.

In [ ]:
nome[::2]

'JlaaAof'

8. Considerando os espaços, qual o tamanho do seu nome?

In [ ]:
len(nome)

14

9. Crie uma lista com nomes de 4 times de futebol.

In [ ]:
time = ['Palmeiras', 'Santos', 'Corinthias', 'São Paulo']
time

['Palmeiras', 'Santos', 'Corinthias', 'São Paulo']

10. Acesse o time que está na 3a posição.

In [ ]:
time[2]

'Corinthias'

11. Crie uma nova lista com duas listas de 3 times de futebol, cada uma de uma
divisão diferente.

In [ ]:
timea = ['Palmeiras', 'Santos', 'Corinthias', 'São Paulo']

timeb = ['Flamengo', 'Vasco', 'Botafogo', 'Fluminence']

12. Crie uma lista com 3 diferentes moedas. Acrescente mais 2 outras moedas à
essa mesma lista.

In [ ]:
moedas = ['Real', 'Dolar', 'Euro']

In [ ]:
moedastexto = ' '.join(moedas)
print(moedastexto)

Real Dolar Euro

In [ ]:
moedas2 = moedastexto.split(' ')
print(moedas2)

['Real', 'Dolar', 'Euro']

13. Crie um dicionário chamado hemograma que contenha as seguintes
chave:valor:

In [ ]:
hemograma = { 'hemacias':4.71, 'hemoglobina': 14.1, 'hematocrito':41.2, 'linfocitos': 38, 'monocitos': 7, 'resultados': 'saudavel'}
hemograma

{'hematocrito': 41.2,
 'idhemoglobina': 14.1,
 'linfocitos': 38,
 'monocitos': 7,
 'nomhemacias': 4.71,
 'resultados': 'saudavel'}

14. Corrija o dicionário acima com monocitos:12.

In [ ]:
hemograma['monocitos'] = 12
hemograma

{'hemacias': 4.71,
 'hematocrito': 41.2,
 'hemoglobina': 14.1,
 'linfocitos': 38,
 'monocitos': 12,
 'resultados': 'saudavel'}